{"swagger":"2.0","info":{"description":"REST API for the Data sets and z/OS Unix Files Services","version":"1.0","title":"Files API"},"host":"zzow01.zowe.marist.cloud:8547","basePath":"/","tags":[{"name":"Data Sets V1 APIs","description":"Data Sets Controller V 1"},{"name":"Data Sets V2 APIs","description":"Data Sets Controller V 2"},{"name":"Unix Files APIs V1","description":"Unix Files Controller V 1"},{"name":"Unix Files APIs V2","description":"Unix Files Controller V 2"}],"paths":{"/api/v1/datasets":{"post":{"tags":["Data Sets V1 APIs"],"summary":"Create a data set","description":"This creates a data set based on the attributes passed in","operationId":"createDataSetUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/DataSetCreateRequest"}}],"responses":{"201":{"description":"Data set successfully created","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/datasets/username":{"get":{"tags":["System APIs","Data Sets V1 APIs"],"summary":"Get current userid","description":"This API returns the callers current TSO userid.","operationId":"getCurrentUserName","produces":["application/json"],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/Username"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/datasets/{dataSetName}":{"delete":{"tags":["Data Sets V1 APIs"],"summary":"Delete a data set or member","description":"This API deletes a data set or data set member.","operationId":"deleteDatasetMemberUsingDELETE","produces":["*/*"],"parameters":[{"name":"dataSetName","in":"path","description":"Data set name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"Data set or member successfully deleted","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v1/datasets/{dataSetName}/content":{"get":{"tags":["Data Sets V1 APIs"],"summary":"Get the content of a sequential data set, or PDS member","description":"This API reads content from a sequential data set or member of a partitioned data set.","operationId":"getContent","produces":["application/json"],"parameters":[{"name":"dataSetName","in":"path","description":"Data set name, e.g. HLQ.PS or HLQ.PO(MEMBER)","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/DataSetContent"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["Data Sets V1 APIs"],"summary":"Sets the content of a sequential data set, or PDS member","description":"This API writes content to a sequential data set or partitioned data set member.","operationId":"putContent","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"dataSetName","in":"path","description":"Data set name, e.g. HLQ.PS or HLQ.PO(MEMBER)","required":true,"type":"string"},{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/DataSetContent"}},{"name":"If-Match","in":"header","description":"If-Match","required":false,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/datasets/{dataSetName}/members":{"get":{"tags":["Data Sets V1 APIs"],"summary":"Get a list of members for a partitioned data set","description":"This API returns a list of members for a given partitioned data set.","operationId":"getMembers","produces":["application/json"],"parameters":[{"name":"dataSetName","in":"path","description":"Partitioned data set name","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ItemsWrapper«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/datasets/{filter}":{"get":{"tags":["Data Sets V1 APIs"],"summary":"Get a list of data sets matching the filter","description":"This API returns the attributes of data sets matching the filter","operationId":"getDataSetAttributes","produces":["application/json"],"parameters":[{"name":"filter","in":"path","description":"Dataset filter string, e.g. HLQ.**, **.SUF, etc.","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ItemsWrapper«DataSetAttributes»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/datasets/{filter}/list":{"get":{"tags":["Data Sets V1 APIs"],"summary":"Get a list of data sets without attributes matching the filter","description":"This API returns the list of data sets matching the filter","operationId":"getDataSets","produces":["application/json"],"parameters":[{"name":"filter","in":"path","description":"Dataset filter string, e.g. HLQ.**, **.SUF, etc.","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ItemsWrapper«DataSet»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/datasets/{oldDataSetName}/rename":{"put":{"tags":["Data Sets V1 APIs"],"summary":"Rename of a sequential data set, or PDS member","description":"This API renames data set or partitioned data set member.","operationId":"renameContent","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"oldDataSetName","in":"path","description":"Data set name, e.g. HLQ.PS or HLQ.PO(MEMBER)","required":true,"type":"string"},{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/DataSetRenameRequest"}}],"responses":{"200":{"description":"Ok"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/unixfiles":{"get":{"tags":["Unix Files APIs V1"],"summary":"Get a list of a directories contents","description":"This API gets a list of files and directories for a given path","operationId":"getDirectoryListing","produces":["application/json"],"parameters":[{"name":"path","in":"query","description":"Path of Directory to be listed","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/UnixDirectoryAttributesWithChildren"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/unixfiles/{path}/**":{"get":{"tags":["Unix Files APIs V1"],"summary":"Get the contents of a Unix file","description":"This API gets a the contetns of a Unix file. Try it out function will not work due to the encoding of forward slashes, it should be noted that requests to this endpoint should only contain unencoded slashes and not include wild card characters","operationId":"getUnixFileContents","produces":["application/json"],"parameters":[{"name":"path","in":"path","description":"path","required":true,"type":"string"},{"name":"Convert","in":"header","description":"Convert","required":false,"type":"boolean"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/UnixFileContent"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["Unix Files APIs V1"],"summary":"Create a new Unix File or Diretory","description":"This API will create a new UnixFile or Directory. Try it out function not functional due to encoding of slashes and auto insertion of wildcard characters, an example request path would be /api/v1/unixFiles/u/ibmuser/newDirectory","operationId":"postUnixFileOrDirectory","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"path","in":"path","description":"path","required":true,"type":"string"},{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/UnixCreateAssetRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["Unix Files APIs V1"],"summary":"Update the contents of a Unix file","description":"This API will update the contents of a Unix file. Try it out function will not work due to the encoding of forward slashes, it should be noted that requests to this endpoint should only contain unencoded slashes and not include wild card characters","operationId":"putUnixFileContents","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"path","in":"path","description":"path","required":true,"type":"string"},{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/UnixFileContent"}},{"name":"If-Match","in":"header","description":"If-Match","required":false,"type":"string"},{"name":"Convert","in":"header","description":"Convert","required":false,"type":"boolean"}],"responses":{"200":{"description":"Ok","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["Unix Files APIs V1"],"summary":"Delete a Unix file","description":"This API deletes a Unix file or directory. Try it out function will not work due to the encoding of forward slashes, it should be noted that requests to this endpoint should only contain unencoded slashes","operationId":"deleteUnixFile","produces":["application/json"],"parameters":[{"name":"path","in":"path","description":"path","required":true,"type":"string"},{"name":"recursive","in":"header","description":"recursive","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"Unix file successfully deleted","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v2/datasets":{"post":{"tags":["Data Sets V2 APIs"],"summary":"Create a data set","description":"This creates a data set based on the attributes passed in","operationId":"createDataSetUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/DataSetCreateRequest"}}],"responses":{"201":{"description":"Data set successfully created","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v2/datasets/{dataSetName}":{"delete":{"tags":["Data Sets V2 APIs"],"summary":"Delete a data set or member","description":"This API deletes a data set or data set member.","operationId":"deleteDatasetMemberUsingDELETE_1","produces":["*/*"],"parameters":[{"name":"dataSetName","in":"path","description":"Data set name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"Data set or member successfully deleted","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v2/datasets/{dataSetName}/content":{"get":{"tags":["Data Sets V2 APIs"],"summary":"Get the content of a sequential data set, or PDS member","description":"This API reads content from a sequential data set or member of a partitioned data set.","operationId":"getContent_1","produces":["application/json"],"parameters":[{"name":"dataSetName","in":"path","description":"Data set name, e.g. HLQ.PS or HLQ.PO(MEMBER)","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/DataSetContent"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["Data Sets V2 APIs"],"summary":"Sets the content of a sequential data set, or PDS member","description":"This API writes content to a sequential data set or partitioned data set member.","operationId":"putContent_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"dataSetName","in":"path","description":"Data set name, e.g. HLQ.PS or HLQ.PO(MEMBER)","required":true,"type":"string"},{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/DataSetContent"}},{"name":"If-Match","in":"header","description":"If-Match","required":false,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v2/datasets/{dataSetName}/members":{"get":{"tags":["Data Sets V2 APIs"],"summary":"Get a list of members for a partitioned data set","description":"This API returns a list of members for a given partitioned data set.","operationId":"getMembers_1","produces":["application/json"],"parameters":[{"name":"dataSetName","in":"path","description":"Partitioned data set name","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ItemsWrapper«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v2/datasets/{filter}":{"get":{"tags":["Data Sets V2 APIs"],"summary":"Get a list of data sets matching the filter","description":"This API returns the attributes of data sets matching the filter","operationId":"getDataSetAttributes_1","produces":["application/json"],"parameters":[{"name":"filter","in":"path","description":"Dataset filter string, e.g. HLQ.**, **.SUF, etc.","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ItemsWrapper«DataSetAttributes»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v2/datasets/{filter}/list":{"get":{"tags":["Data Sets V2 APIs"],"summary":"Get a list of data sets without attributes matching the filter","description":"This API returns the list of data sets matching the filter","operationId":"getDataSets_1","produces":["application/json"],"parameters":[{"name":"filter","in":"path","description":"Dataset filter string, e.g. HLQ.**, **.SUF, etc.","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ItemsWrapper«DataSet»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v2/datasets/{oldDataSetName}/rename":{"put":{"tags":["Data Sets V2 APIs"],"summary":"Rename of a sequential data set, or PDS member","description":"This API renames data set or partitioned data set member.","operationId":"renameContent_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"oldDataSetName","in":"path","description":"Data set name, e.g. HLQ.PS or HLQ.PO(MEMBER)","required":true,"type":"string"},{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/DataSetRenameRequest"}}],"responses":{"200":{"description":"Ok"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v2/unixfiles":{"get":{"tags":["Unix Files APIs V2"],"summary":"Get a list of a directories contents","description":"This API gets a list of files and directories for a given path","operationId":"getDirectoryListing_1","produces":["application/json"],"parameters":[{"name":"path","in":"query","description":"Path of Directory to be listed","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/UnixDirectoryAttributesWithChildren"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v2/unixfiles/{path}/**":{"get":{"tags":["Unix Files APIs V2"],"summary":"Get the contents of a Unix file","description":"This API gets a the contetns of a Unix file. Try it out function will not work due to the encoding of forward slashes, it should be noted that requests to this endpoint should only contain unencoded slashes and not include wild card characters","operationId":"getUnixFileContents_1","produces":["application/json"],"parameters":[{"name":"path","in":"path","description":"path","required":true,"type":"string"},{"name":"Convert","in":"header","description":"Convert","required":false,"type":"boolean"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/UnixFileContent"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["Unix Files APIs V2"],"summary":"Create a new Unix File or Diretory","description":"This API will create a new UnixFile or Directory. Try it out function not functional due to encoding of slashes and auto insertion of wildcard characters, an example request path would be /api/v1/unixFiles/u/ibmuser/newDirectory","operationId":"postUnixFileOrDirectory_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"path","in":"path","description":"path","required":true,"type":"string"},{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/UnixCreateAssetRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["Unix Files APIs V2"],"summary":"Update the contents of a Unix file","description":"This API will update the contents of a Unix file. Try it out function will not work due to the encoding of forward slashes, it should be noted that requests to this endpoint should only contain unencoded slashes and not include wild card characters","operationId":"putUnixFileContents_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"path","in":"path","description":"path","required":true,"type":"string"},{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/UnixFileContent"}},{"name":"If-Match","in":"header","description":"If-Match","required":false,"type":"string"},{"name":"Convert","in":"header","description":"Convert","required":false,"type":"boolean"}],"responses":{"200":{"description":"Ok","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["Unix Files APIs V2"],"summary":"Delete a Unix file","description":"This API deletes a Unix file or directory. Try it out function will not work due to the encoding of forward slashes, it should be noted that requests to this endpoint should only contain unencoded slashes","operationId":"deleteUnixFile_1","produces":["application/json"],"parameters":[{"name":"path","in":"path","description":"path","required":true,"type":"string"},{"name":"recursive","in":"header","description":"recursive","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"Unix file successfully deleted","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}}},"definitions":{"DataSet":{"type":"object","required":["name"],"properties":{"migrated":{"type":"boolean","example":false,"description":"Whether the data set is migrated","allowEmptyValue":false},"name":{"type":"string","description":"Data set name","allowEmptyValue":false}},"title":"DataSet","description":"List of data set"},"DataSetAttributes":{"type":"object","required":["name","recordFormat","recordLength"],"properties":{"allocatedSize":{"type":"integer","format":"int32","description":"Allocate size, sizex","allowEmptyValue":false},"allocationUnit":{"type":"string","description":"Unit of space allocation, alcunit, spaceu","allowEmptyValue":false,"enum":["TRACK","CYLINDER","BLOCK","BYTE","KILOBYTE","MEGABYTE","RECORD"]},"averageBlock":{"type":"integer","format":"int32","description":"Average block","allowEmptyValue":false},"blockSize":{"type":"integer","format":"int32","description":"Block size, blksize","allowEmptyValue":false},"catalogName":{"type":"string","description":"Catalog name, catnm","allowEmptyValue":false},"creationDate":{"type":"string","description":"Creation date, cdate","allowEmptyValue":false},"dataSetOrganization":{"type":"string","description":"Data set organization","allowEmptyValue":false,"enum":["PO","POU","PO_E","PS","PS_E","PS_L","PSU","VSAM","VSAM_E","HFS","ZFS","DA","DAU"]},"deviceType":{"type":"string","description":"Device type","allowEmptyValue":false},"directoryBlocks":{"type":"integer","format":"int32","description":"Number of directory blocks, dirblk","allowEmptyValue":false},"expirationDate":{"type":"string","description":"Expiration date, edate","allowEmptyValue":false},"migrated":{"type":"boolean","example":false,"description":"Whether the data set is migrated","allowEmptyValue":false},"name":{"type":"string","description":"Data set name","allowEmptyValue":false},"primary":{"type":"integer","format":"int32","description":"Primary space allocation","allowEmptyValue":false},"recordFormat":{"type":"string","description":"Record format, recfm","allowEmptyValue":false},"recordLength":{"type":"integer","format":"int32","description":"Record length, lrecl","allowEmptyValue":false},"secondary":{"type":"integer","format":"int32","description":"Secondary space allocation","allowEmptyValue":false},"used":{"type":"integer","format":"int32","description":"Percentage of allocation used","allowEmptyValue":false},"volumeSerial":{"type":"string","description":"Volume serial","allowEmptyValue":false}},"title":"DataSetAttributes","description":"Attributes of a data set"},"DataSetContent":{"type":"object","required":["records"],"properties":{"records":{"type":"string","example":"//TESTJOBX JOB (),MSGCLASS=Hn// EXEC PGM=IEFBR14","description":"The content of the data set, with \n for new lines","allowEmptyValue":false}},"title":"DataSetContent","description":"Data Set file content"},"DataSetCreateRequest":{"type":"object","required":["allocationUnit","dataSetOrganization","name","primary","recordFormat","recordLength","secondary"],"properties":{"allocationUnit":{"type":"string","example":"TRACK","description":"Unit of space allocation, alcunit, spaceu","allowEmptyValue":false,"enum":["TRACK","CYLINDER","BLOCK","BYTE","KILOBYTE","MEGABYTE","RECORD"]},"averageBlock":{"type":"integer","format":"int32","example":500,"description":"Average block","allowEmptyValue":false},"blockSize":{"type":"integer","format":"int32","example":400,"description":"Block size, blksize","allowEmptyValue":false},"dataSetOrganization":{"type":"string","example":"PO","description":"Data set organization","allowEmptyValue":false,"enum":["PO","POU","PO_E","PS","PS_E","PS_L","PSU","VSAM","VSAM_E","HFS","ZFS","DA","DAU"]},"deviceType":{"type":"string","example":3390,"description":"Device type, unit","allowEmptyValue":false},"directoryBlocks":{"type":"integer","format":"int32","example":5,"description":"Number of directory blocks, dirblk. Only valid for partitioned data sets","allowEmptyValue":false},"name":{"type":"string","example":"HLQ.ZOWE","description":"Data set name","allowEmptyValue":false},"primary":{"type":"integer","format":"int32","example":10,"description":"Primary space allocation","allowEmptyValue":false},"recordFormat":{"type":"string","example":"FB","description":"Record format, recfm","allowEmptyValue":false},"recordLength":{"type":"integer","format":"int32","example":80,"description":"Record length, lrecl","allowEmptyValue":false},"secondary":{"type":"integer","format":"int32","example":5,"description":"Secondary space allocation","allowEmptyValue":false},"volumeSerial":{"type":"string","example":"zmf046","description":"Volume serial","allowEmptyValue":false}},"title":"DataSetCreateRequest","description":"Attributes of a data set to be created"},"DataSetRenameRequest":{"type":"object","required":["newName"],"properties":{"newName":{"type":"string","example":"HLQ.ZOWE or HLQ.ZOWE(mem1)","description":"new dataset name","allowEmptyValue":false}},"title":"DataSetRenameRequest","description":"Reaname data set request payload with attributes from-dataset to-dataset"},"ItemsWrapper«DataSetAttributes»":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/definitions/DataSetAttributes"}}},"title":"ItemsWrapper«DataSetAttributes»"},"ItemsWrapper«DataSet»":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/definitions/DataSet"}}},"title":"ItemsWrapper«DataSet»"},"ItemsWrapper«string»":{"type":"object","properties":{"items":{"type":"array","items":{"type":"string"}}},"title":"ItemsWrapper«string»"},"UnixCreateAssetRequest":{"type":"object","required":["type"],"properties":{"permissions":{"type":"string","example":"rwxrw-r--","description":"Access Mode for new asset","allowEmptyValue":false},"type":{"type":"string","example":"FILE","description":"Unix Entity type, File or Directory","allowEmptyValue":false,"enum":["FILE","DIRECTORY"]}},"title":"UnixCreateAssetRequest","description":"Unix File or Directory attributes for creation"},"UnixDirectoryAttributesWithChildren":{"type":"object","required":["children","group","lastModified","owner","permissionsSymbolic","size","type"],"properties":{"children":{"type":"array","description":"Children","allowEmptyValue":false,"items":{"$ref":"#/definitions/UnixDirectoryChild"}},"group":{"type":"string","description":"Group","allowEmptyValue":false},"lastModified":{"type":"string","description":"Last Modified","allowEmptyValue":false},"owner":{"type":"string","description":"Owner","allowEmptyValue":false},"permissionsSymbolic":{"type":"string","description":"Symbolic permissions","allowEmptyValue":false},"size":{"type":"integer","format":"int32","description":"Size on disk","allowEmptyValue":false},"type":{"type":"string","description":"Type","allowEmptyValue":false,"enum":["FILE","DIRECTORY"]}},"title":"UnixDirectoryAttributesWithChildren","description":"Attributes of a Unix Directory with its children"},"UnixDirectoryChild":{"type":"object","required":["lastModified","link","name","size","type"],"properties":{"lastModified":{"type":"string","description":"lastModified","allowEmptyValue":false},"link":{"type":"string","description":"Link","allowEmptyValue":false},"name":{"type":"string","description":"Path","allowEmptyValue":false},"size":{"type":"integer","format":"int32","description":"size","allowEmptyValue":false},"type":{"type":"string","description":"type","allowEmptyValue":false,"enum":["FILE","DIRECTORY"]}},"title":"UnixDirectoryChild","description":"Child of a unix directory"},"UnixFileContent":{"type":"object","required":["content"],"properties":{"content":{"type":"string","example":"Hello World","description":"The content of the unix file","allowEmptyValue":false}},"title":"UnixFileContent","description":"Unix file content"},"Username":{"type":"object","properties":{"username":{"type":"string"}},"title":"Username"}}}
