{"swagger":"2.0","info":{"description":"REST API for the JES Jobs Service","version":"1.0","title":"JES Jobs API"},"host":"zzow01.zowe.marist.cloud:8545","basePath":"/","tags":[{"name":"JES job APIs V1","description":"Jobs Controller V 1"},{"name":"JES job APIs V2","description":"Jobs Controller V 2"}],"paths":{"/api/v1/jobs":{"get":{"tags":["JES job APIs V1"],"summary":"Get a list of jobs","description":"This API returns the a list of jobs for a given prefix and owner.","operationId":"getJobs","produces":["application/json"],"parameters":[{"name":"prefix","in":"query","description":"Job name prefix. If omitted, defaults to *.","required":false,"type":"string","default":"*"},{"name":"owner","in":"query","description":"Job owner. Defaults to requesters userid.","required":false,"type":"string"},{"name":"status","in":"query","description":"Job status to filter on, defaults to ALL.","required":false,"type":"string","enum":["ACTIVE","OUTPUT","INPUT","ALL"]}],"responses":{"200":{"description":"Ok","schema":{"type":"array","items":{"$ref":"#/definitions/Job"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["JES job APIs V1"],"summary":"Given a list of jobs issue a Modify command for each","description":"This API modifies all jobs provided","operationId":"modifyJobs","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ModifyMultipleJobsRequest"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"202":{"description":"Job modifies requested"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["JES job APIs V1"],"summary":"Given a list of jobs Cancel and Purge them all","description":"This API purges all jobs provided","operationId":"purgeJobs","produces":["application/json"],"parameters":[{"in":"body","name":"jobList","description":"jobList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SimpleJob"}}}],"responses":{"200":{"description":"OK"},"204":{"description":"Job purges succesfully requested"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v1/jobs/dataset":{"post":{"tags":["JES job APIs V1"],"summary":"Submit a job given a data set","description":"This API submits a partitioned data set member or Unix file. For fully qualified data set members use MYJOBS.TEST.CNTL(TESTJOBX). For Unix files use /u/myjobs/job1.","operationId":"submitJob","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/SubmitJobFileRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Job successfully created","schema":{"$ref":"#/definitions/Job"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/jobs/string":{"post":{"tags":["JES job APIs V1"],"summary":"Submit a job given a string of JCL","description":"This API submits a job given jcl as a string","operationId":"submitJob_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/SubmitJobStringRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Job successfully created","schema":{"$ref":"#/definitions/Job"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/jobs/username":{"get":{"tags":["System APIs","JES job APIs V1"],"summary":"Get current userid","description":"This API returns the callers current TSO userid.","operationId":"getCurrentUserName","produces":["application/json"],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/Username"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/jobs/{jobName}/{jobId}":{"get":{"tags":["JES job APIs V1"],"summary":"Get the details of a job for a given job name and identifier","description":"This API returns the details of a job for a given job name and identifier.","operationId":"getJobByNameAndId","produces":["application/json"],"parameters":[{"name":"jobName","in":"path","description":"Job name.","required":true,"type":"string"},{"name":"jobId","in":"path","description":"Job identifier.","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/Job"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["JES job APIs V1"],"summary":"Modify a job","description":"This API modifies a job (cancel, hold, release)","operationId":"modifyJob","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"jobName","in":"path","description":"Job name","required":true,"type":"string"},{"name":"jobId","in":"path","description":"Job identifier","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ModifyJobRequest"}}],"responses":{"200":{"description":"Job modified"},"201":{"description":"Created"},"202":{"description":"Job modify requested"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["JES job APIs V1"],"summary":"Cancel a Job and Purge its associated files","description":"This API purges a Job","operationId":"purgeJob","produces":["application/json"],"parameters":[{"name":"jobName","in":"path","description":"Job name","required":true,"type":"string"},{"name":"jobId","in":"path","description":"Job identifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Job purge succesfully requested"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v1/jobs/{jobName}/{jobId}/files":{"get":{"tags":["JES job APIs V1"],"summary":"Get a list of output file names for a job","description":"This API returns the output file names for a given job.","operationId":"getJobOutputFiles","produces":["application/json"],"parameters":[{"name":"jobName","in":"path","description":"Job name.","required":true,"type":"string"},{"name":"jobId","in":"path","description":"Job identifier.","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"type":"array","items":{"$ref":"#/definitions/JobFile"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/jobs/{jobName}/{jobId}/files/content":{"get":{"tags":["JES job APIs V1"],"summary":"Get the contents of all job output files for a given job","description":"This API reads the contents of all job files of a given job.","operationId":"getConcatenatedJobOutputFiles","produces":["application/json"],"parameters":[{"name":"jobName","in":"path","description":"Job name.","required":true,"type":"string"},{"name":"jobId","in":"path","description":"Job identifier.","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/JobFileContent"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/jobs/{jobName}/{jobId}/files/{fileId}/content":{"get":{"tags":["JES job APIs V1"],"summary":"Get content from a specific job output file","description":"This API reads content from a specific job output file. The API can read all output, or a relative record range.","operationId":"getJobOutputFile","produces":["application/json"],"parameters":[{"name":"jobName","in":"path","description":"Job name.","required":true,"type":"string"},{"name":"jobId","in":"path","description":"Job identifier.","required":true,"type":"string"},{"name":"fileId","in":"path","description":"Job file id.","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/JobFileContent"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/jobs/{jobName}/{jobId}/steps":{"get":{"tags":["JES job APIs V1"],"summary":"Get job steps for a given job","description":"This API returns the step name and executed program for each job step for a given job name and identifier.","operationId":"getJobSteps","produces":["application/json"],"parameters":[{"name":"jobName","in":"path","description":"Job name.","required":true,"type":"string"},{"name":"jobId","in":"path","description":"Job identifier.","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"type":"array","items":{"$ref":"#/definitions/JobStep"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v2/jobs":{"get":{"tags":["JES job APIs V2"],"summary":"Get a list of jobs","description":"This API returns the a list of jobs for a given prefix and owner.","operationId":"getJobs_1","produces":["application/json"],"parameters":[{"name":"prefix","in":"query","description":"Job name prefix. If omitted, defaults to *.","required":false,"type":"string","default":"*"},{"name":"owner","in":"query","description":"Job owner. Defaults to requesters userid.","required":false,"type":"string"},{"name":"status","in":"query","description":"Job status to filter on, defaults to ALL.","required":false,"type":"string","enum":["ACTIVE","OUTPUT","INPUT","ALL"]}],"responses":{"200":{"description":"Ok","schema":{"type":"array","items":{"$ref":"#/definitions/Job"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["JES job APIs V2"],"summary":"Given a list of jobs issue a Modify command for each","description":"This API modifies all jobs provided","operationId":"modifyJobs_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ModifyMultipleJobsRequest"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"202":{"description":"Job modifies requested"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["JES job APIs V2"],"summary":"Given a list of jobs Cancel and Purge them all","description":"This API purges all jobs provided","operationId":"purgeJobs_1","produces":["application/json"],"parameters":[{"in":"body","name":"jobList","description":"jobList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SimpleJob"}}}],"responses":{"200":{"description":"OK"},"204":{"description":"Job purges succesfully requested"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v2/jobs/dataset":{"post":{"tags":["JES job APIs V2"],"summary":"Submit a job given a data set","description":"This API submits a partitioned data set member or Unix file. For fully qualified data set members use MYJOBS.TEST.CNTL(TESTJOBX). For Unix files use /u/myjobs/job1.","operationId":"submitJob_2","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/SubmitJobFileRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Job successfully created","schema":{"$ref":"#/definitions/Job"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v2/jobs/string":{"post":{"tags":["JES job APIs V2"],"summary":"Submit a job given a string of JCL","description":"This API submits a job given jcl as a string","operationId":"submitJob_3","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/SubmitJobStringRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Job successfully created","schema":{"$ref":"#/definitions/Job"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v2/jobs/{jobName}/{jobId}":{"get":{"tags":["JES job APIs V2"],"summary":"Get the details of a job for a given job name and identifier","description":"This API returns the details of a job for a given job name and identifier.","operationId":"getJobByNameAndId_1","produces":["application/json"],"parameters":[{"name":"jobName","in":"path","description":"Job name.","required":true,"type":"string"},{"name":"jobId","in":"path","description":"Job identifier.","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/Job"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["JES job APIs V2"],"summary":"Modify a job","description":"This API modifies a job (cancel, hold, release)","operationId":"modifyJob_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"jobName","in":"path","description":"Job name","required":true,"type":"string"},{"name":"jobId","in":"path","description":"Job identifier","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ModifyJobRequest"}}],"responses":{"200":{"description":"Job modified"},"201":{"description":"Created"},"202":{"description":"Job modify requested"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["JES job APIs V2"],"summary":"Cancel a Job and Purge its associated files","description":"This API purges a Job","operationId":"purgeJob_1","produces":["application/json"],"parameters":[{"name":"jobName","in":"path","description":"Job name","required":true,"type":"string"},{"name":"jobId","in":"path","description":"Job identifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Job purge succesfully requested"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v2/jobs/{jobName}/{jobId}/files":{"get":{"tags":["JES job APIs V2"],"summary":"Get a list of output file names for a job","description":"This API returns the output file names for a given job.","operationId":"getJobOutputFiles_1","produces":["application/json"],"parameters":[{"name":"jobName","in":"path","description":"Job name.","required":true,"type":"string"},{"name":"jobId","in":"path","description":"Job identifier.","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"type":"array","items":{"$ref":"#/definitions/JobFile"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v2/jobs/{jobName}/{jobId}/files/content":{"get":{"tags":["JES job APIs V2"],"summary":"Get the contents of all job output files for a given job","description":"This API reads the contents of all job files of a given job.","operationId":"getConcatenatedJobOutputFiles_1","produces":["application/json"],"parameters":[{"name":"jobName","in":"path","description":"Job name.","required":true,"type":"string"},{"name":"jobId","in":"path","description":"Job identifier.","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/JobFileContent"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v2/jobs/{jobName}/{jobId}/files/{fileId}/content":{"get":{"tags":["JES job APIs V2"],"summary":"Get content from a specific job output file","description":"This API reads content from a specific job output file. The API can read all output, or a relative record range.","operationId":"getJobOutputFile_1","produces":["application/json"],"parameters":[{"name":"jobName","in":"path","description":"Job name.","required":true,"type":"string"},{"name":"jobId","in":"path","description":"Job identifier.","required":true,"type":"string"},{"name":"fileId","in":"path","description":"Job file id.","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/JobFileContent"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v2/jobs/{jobName}/{jobId}/steps":{"get":{"tags":["JES job APIs V2"],"summary":"Get job steps for a given job","description":"This API returns the step name and executed program for each job step for a given job name and identifier.","operationId":"getJobSteps_1","produces":["application/json"],"parameters":[{"name":"jobName","in":"path","description":"Job name.","required":true,"type":"string"},{"name":"jobId","in":"path","description":"Job identifier.","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"type":"array","items":{"$ref":"#/definitions/JobStep"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"ItemsWrapper«JobFile»":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/definitions/JobFile"}}},"title":"ItemsWrapper«JobFile»"},"ItemsWrapper«Job»":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/definitions/Job"}}},"title":"ItemsWrapper«Job»"},"Job":{"type":"object","properties":{"executionClass":{"type":"string"},"jobId":{"type":"string"},"jobName":{"type":"string"},"owner":{"type":"string"},"phaseName":{"type":"string"},"returnCode":{"type":"string"},"status":{"type":"string","enum":["ACTIVE","OUTPUT","INPUT","ALL"]},"subsystem":{"type":"string"},"type":{"type":"string"}},"title":"Job"},"JobFile":{"type":"object","properties":{"byteCount":{"type":"integer","format":"int64"},"ddName":{"type":"string"},"id":{"type":"integer","format":"int64"},"recordCount":{"type":"integer","format":"int64"},"recordFormat":{"type":"string"},"recordLength":{"type":"integer","format":"int64"}},"title":"JobFile"},"JobFileContent":{"type":"object","properties":{"content":{"type":"string"}},"title":"JobFileContent"},"JobStep":{"type":"object","properties":{"name":{"type":"string"},"program":{"type":"string"},"step":{"type":"integer","format":"int32"}},"title":"JobStep"},"ModifyJobRequest":{"type":"object","required":["command"],"properties":{"command":{"type":"string","example":"cancel","description":"The modify command, e.g. cancel, hold, release","allowEmptyValue":false}},"title":"ModifyJobRequest"},"ModifyMultipleJobsRequest":{"type":"object","required":["command","jobs"],"properties":{"command":{"type":"string","example":"cancel","description":"The modify command, e.g. cancel, hold, release","allowEmptyValue":false},"jobs":{"type":"array","example":[{"jobId":"job1234", "jobName":"TestJob"}],"description":"The list of jobs to receive the modify command","allowEmptyValue":false,"items":{"$ref":"#/definitions/SimpleJob"}}},"title":"ModifyMultipleJobsRequest"},"SimpleJob":{"type":"object","required":["jobId","jobName"],"properties":{"jobId":{"type":"string","example":"JOB00001","description":"The id of a job","allowEmptyValue":false},"jobName":{"type":"string","example":"TESTJOB","description":"The name of a job","allowEmptyValue":false}},"title":"SimpleJob"},"SubmitJobFileRequest":{"type":"object","required":["file"],"properties":{"file":{"type":"string","example":"ATLAS.TEST.JCL(TSTJ0001)","description":"The data set, or z/OS unix file to submit in form: in the form: ATLAS.TEST.JCL(TSTJ0001) for a data set, or /u/myjobs/job1 for z/OS unix file","allowEmptyValue":false}},"title":"SubmitJobFileRequest"},"SubmitJobStringRequest":{"type":"object","required":["jcl"],"properties":{"jcl":{"type":"string","example":"//TESTJOBX JOB (),MSGCLASS=H
// EXEC PGM=IEFBR14","description":"The jcl to be submitted, with n for new lines","allowEmptyValue":false}},"title":"SubmitJobStringRequest"},"Username":{"type":"object","properties":{"username":{"type":"string"}},"title":"Username"}}}
