// colors
$accentColor = #1e73be
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 4096px

// responsive breakpoints
$MQNarrow = 1216px
$MQMobile = 1090px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
