# node.js dependencies
node_modules

# ignore yarn lock because we have package-lock.json and npmjs is more stable
yarn.lock

# build result
docs/.vuepress/dist 
docs-site
# deployment temp directory
.deploy

# OS temp files
.DS_Store
.vscode/last.sql
