/*
* This program and the accompanying materials are made available under the terms of the
* Eclipse Public License v2.0 which accompanies this distribution, and is available at
* https://www.eclipse.org/legal/epl-v20.html
*
* SPDX-License-Identifier: EPL-2.0
*
* Copyright Contributors to the Zowe Project.
*
*/

html, body {
    height: 100%;
}

#cmd-tree {
    margin: 0 5px;
    height: calc(100% - 170px);
    overflow: auto;
}

#docs-page {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    border: none;
    margin: 0;
    padding: 0;
}

#docs-wrapper {
    position: relative;
}

#footer {
    font-size: small;
    margin: 10px 0;
    text-align: center;
}

#header-image {
    margin: 0 0 10px 5px;
    height: 64px;
}

#header-text {
    color: black;
    display: inline-block;
    padding-top: 20px;
    text-decoration: none;
    min-height: 64px;
}

#panel-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}

#panel-left {
    flex: 0 0 auto;
    max-width: calc(100% - 220px);
    min-width: 220px;
    width: 300px;
    background-color: lavender;
}

#panel-right {
    flex: 1 1 auto;
    width: 100%;
}

#tree-bar {
    margin: 0 5px 10px 5px;
    width: calc(100% - 10px);
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: col-resize;
}
