.section {
  padding: 4rem 0;
}

html[data-theme="light"] .card {
  background-color: var(--ifm-background-section-color);
}

html[data-theme="dark"] .card {
  background-color: var(--ifm-card-background-color);
}

.card {
  position: relative;
  height: 100%;
}

.card .metadata {
  min-height: 195px;
}

.card img {
  width: 25px;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}
