.section {
  padding: 4rem 0rem;
}

html[data-theme="light"] .card {
  background-color: var(--ifm-background-section-color);
}

html[data-theme="dark"] .card {
  background-color: var(--ifm-card-background-color);
}

.card {
  position: relative;
  height: 100%;
}

.card .metadata {
  min-height: 195px;
}

.card img {
  width: 25px;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

@media screen and (min-width: 1450px) {
  .card .metadata {
    min-height: 165px;
  }
}

@media screen and (max-width: 1200px){
  .section {
    padding: 4rem 1rem;
  }
}

@media screen and (max-width: 1100px) {
  .card .metadata {
    min-height: inherit;
  }
}
