:root {
  --ifm-background-section-color: #f2f2f2;
}

html[data-theme="light"] .card {
  background-color: var(--ifm-background-section-color);
}

html[data-theme="dark"] .card {
  background-color: var(--ifm-card-background-color);
}

#features {
  padding: 4rem 0;
}

.feature {
  display: flex !important;
  flex-direction: column;
}

.feature a {
  color: unset;
  text-decoration: none;
}

.card {
  flex-grow: 1;
  justify-content: center;
}

/* .card:hover {
  border: 1px solid;
  border-color: var(--ifm-color-primary) !important;
  box-shadow: var(--ifm-color-primary-lightest);
  margin: -1px;
}

.card:nth-child(1):hover {
  margin-top: -2px;
} */

.feature:nth-child(1) img, .feature:nth-child(4) img{
  position: inherit;
  margin-bottom: -7px;
}

.feature:nth-child(2) img, .feature:nth-child(3) img, .feature:nth-child(5) img, .feature:nth-child(6) img {
  position: absolute;
  bottom: 0px;
}

.feature:nth-child(2) div, .feature:nth-child(3) div, .feature:nth-child(5) div, .feature:nth-child(6) div {
  position: relative;
}

@media screen and (max-width: 1000px) {
  .feature:nth-child(2) img, .feature:nth-child(3) img, .feature:nth-child(5) img, .feature:nth-child(6) img {
    position: inherit;
  }
}

@media screen and (max-width: 1200px){
  #features {
    padding: 4rem 1rem;
  }
}
