// MODIFICATION_FROM_THEME
details
  padding 15px
  background-color #fcfcfc
  margin-bottom 20px
  border-radius 5px

details[open]
    summary:before
      content "📖"

details.zowe-faq:not([open])
    summary:after
      content "Click to open answer"

details.zowe-faq[open]
    summary:after
      content "Click to hide answer"

summary
  cursor pointer
  background-color #fcfcfc
  list-style-image none

summary::-webkit-details-marker
    display none

summary::-moz-list-bullet
    list-style-type none
    display block

summary:before
    content "📘"
    margin-right 5px
