.action-button
    display inline-block
    font-size 1.2rem
    color #fff
    background-color #1e73be
    padding 0.8rem 1.6rem
    border-radius 4px
    transition background-color .1s ease
    box-sizing border-box
    border-bottom 1px solid darken(#1e73be, 10%)
    &:hover
        background-color lighten(#1e73be, 10%)

h3
    font-size 1.25rem

h4
    font-size 1.00rem

h1, h2, h3, h4, h5, h6
  .content:not(.custom) > &
    margin-top -3rem

.navbar
  .not-in-navbar
    display: none

div[class*="language-"]
  &::before
    // move language text to bottom-right
    // top-right is left for copy-to-clipboard icon
    top: auto
    bottom 0.8em

@require './details'
