.action-button
    display inline-block
    font-size 1.2rem
    color #fff
    background-color #7684EA
    padding 0.8rem 1.6rem
    border-radius 4px
    transition background-color .1s ease
    box-sizing border-box
    border-bottom 1px solid darken(#7684EA, 10%)
    &:hover
        background-color lighten(#7684EA, 10%)


h3, h4
    font-size 1.35rem