# Issue #3092: Document tips on (server) install verification

**URL:** https://github.com/zowe/docs-site/issues/3092

**Created:** 2023-09-01T14:33:21Z

**Updated:** 2025-03-14T14:41:31Z

**Labels:** area: install and config, release: V3, Size: L

---

How do you know when Zowe is correctly installed?
I encountered a user who was trying a `zwe` command recently, assuming it would do install verification, to prove that their install was fully operational.

When I interact with users, I have some things I look for in logs and in the browser to determine that the majority of the server configuration is correct and operational.

I don't think we have a page on this in the doc, and it could be pretty useful!
Let's collect the tips we do have, and make a page out of that, and place it at the end of the install steps.

The same is true for the CLI & Explorers - users should have a way to know that their install is good.
