html[data-theme="dark"] .section {
  background-color: var(--ifm-card-background-color);
}

:root {
  --ifm-background-section-light: #f2f2f2;
  --ifm-background-section-dark: #18191a
}

html[data-theme="light"] .feature {
  background-color: var(--ifm-background-section-light);
}

html[data-theme="dark"] .feature {
  background-color: var(--ifm-background-section-dark);
}

.section {
  padding: 4rem 0 3rem 0;
}

.section a {
  font-size: 1.1rem;
}

.features {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.feature {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

@media screen and (max-width: 1200px){
  .section {
    padding: 4rem 1rem;
  }
}
